.env
.DS_Store
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw


# audio files
*-transcribed.txt
output_*.wav


# documentation
AGENTS.md
GOALS.md
scratchpad.md
SCRIPTS.md
STYLE.md
